@import '../variables.scss';

h1 {
  font-size: 28px;
  font-weight: 700;
  line-height: .9em;
  margin: 10px 0 0;
  text-transform: uppercase;
}

h2 {
  font-size: 22px;
  font-weight: 400;
  margin: 0 auto 10px;
}

p {
  margin: 5px 0;
}
