@import '../variables.scss';
.resume-container {
  font-size: 14px;
  max-width: 1180px;
  margin: 0 auto;
  ul {
    padding: 0px 20px;
    margin: 5px 0 10px 0;
  }
  .row:not(#contact) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    @media (min-width: $screen-sm-min) {
      flex-direction: row;
    }
  }
  #contact {
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 40px;
    padding-bottom: 40px;
    max-width: 450px;

  }
  strong {
    font-weight: 500;
  }
  .contact-info {
    vertical-align: middle;

    strong {
      margin-right: 10px;
    }
    div {
      display: inline-block;
    }
  }
  .row {
    margin: 0 0 30px;
  }
  h4,
  h3 {
    margin: 0 0 15px;
    font-weight: 500;
    @media (max-width: $screen-sm-min) {
    }
  }
  h3 {
    font-size: 20px;
    font-weight: 600;
  }
  h4 {
    font-size: 16px;
  }
  h5 {
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
  }
  .resume-name h3 {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
  }
  .work-container {
    font-size: 14px;
    line-height: 1.5em;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
    h4 {
      font-size: 18px;
      font-weight: 600;
      margin: 0;
    }
  }
  .col-sm-8 {
    flex-basis: auto;
    @media (min-width: $screen-sm-min) {
      flex-basis: 66.66666666%;
      flex-basis: 50%;
      padding-left: 20px;
    }
  }
  .col-sm-4 {
    flex-basis: auto;
    @media (min-width: $screen-sm-min) {
      flex-basis: 33.333333%;
        flex-basis: 50%;
      padding-right: 50px;
    }
  }
  .col-sm-6 {
    flex-basis: auto;
    @media (min-width: $screen-sm-min) {
      flex-basis: 50%;
    }
  }
  .position {
    font-weight: 500;
  }
  .date {
    font-size: 12px;
  }
  #awards.row {
    display: block;
    h4 {
      margin: 0;
    }
  }
}
