@import '../variables.scss';

.project-list {
  list-style: none;
  padding: 20px 0;
  margin: 0;
  position: relative;
}
.project-item {
  padding: 20px;
  border-bottom: 1px solid #ddd;
  position: relative;
  text-align: center;
  @media (min-width: $screen-sm-min){
    text-align: left;
  }
  &:before {
    display: none;
    content: 'Front End Developer';
    position: absolute;
    right: 100px;
    top: 50%;
    transform: translateY(-50%) scale(0);
    opacity: 0;
    padding: 10px 20px;
    background: rgba(0,0,0,.2);
    color: #fff;
    transition: 0.3s ease-in-out;
    font-size: 12px;
    @media (min-width: $screen-sm-min){
      display: block;
    }
  }
  &:hover {
    &:before {
      opacity: 1;
      transform: translateY(-50%) scale(1);
    }
  }
  svg g {
    transition: 0.25s ease-in-out;
  }
  &:hover {
    background: rgba(0,0,0,.025);
    svg g {
      fill: $brand-color;
    }
  }
  &:last-of-type {
    border-bottom: 0;
  }
}
.project-name {
  font-weight: 700;
  font-size: 22px;
  margin: 0;
  a {
    color: inherit;
    transition: 0.25s ease-out;
    &:hover {
      color: $text-color;
    }
  }
}
.project-link {
  font-weight: 600;
  font-size: 14px;
  color: #2082ED;
  transition: 0.2s ease-in;
  &:hover {
    color: $text-color;
  }
}
.project-type {
  display: block;
  font-weight: 900;
  text-align: center;
  line-height: 0;
  margin: 0 auto 20px auto;
  width: 100%;

}
@media (min-width:$screen-sm-min) {
  .project-type {
  position: absolute;
  width: 100px;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  margin: 0;
  }
}
.project-details {
  display: block;
  font-size: 12px;
  margin-top: 5px;
}
.project-extra {
  font-size: 12px;
  margin: 5px 0 0;
  a {
    color: $brand-color;
    &:hover {
      color: $text-color;
    }
  }
}
